*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("emyu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

nav{
    color: rgb(15, 15, 14);
    padding: 20px 0 10px 30px;
    font-size: 20px;
  } 

nav a{
    padding: 10px 40px 10px 40px;
    color: aliceblue;
    text-decoration: none;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transition: ease-in-out ;
}

section {
    font-size: large;
    margin: 70px;
}

article {
    background-color: #d3cccc;
    border: 1px solid #ccc;
    margin: 40px;
    padding: 20px;
}


.mu{
    padding-left: 230px;
    text-align: center;
}

.desc p{
    text-align: justify;
    text-indent: 40px;
}

ul li{
    padding-left: 10px;
}


footer{
    margin-left: -40px;
    margin-bottom: -20px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(66, 66, 66);
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
}

footer p{
    margin: 0;
    font-size: 14px;
}



